* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
  font-family: "DM Serif Display", serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

#main {
  background-color: #edf3f8;
}
.circle {
  width: 780px;
  height: 780px;
  border-radius: 50%;
  background-color: #36536b;

  opacity: 0.3;
  position: absolute;
  right: -40%;
}
.start {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 100px 0;
}
.left-page {
  padding: 0 5%;
}
.left-page h1 {
  color: #36536b;
  font-size: 2rem;
  font-weight: lighter;
}
.left-page p {
  color: #36536b;
  opacity: 0.7;
  font-size: smaller;
  width: 445px;
}
.right-page {
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-page,
.right-page {
  width: 50%;
}
.right-page img {
  position: relative;
  width: 50%;
}
.right-page .img-2 {
  position: relative;
  right: 80px;
}

.boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 60px 0;
}

.boxes .box .img {
  width: 100px;
  height: 100px;
  background-color: #36536b;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.box h4 {
  color: #36536b;
  padding: 20px 0;
}
.box p {
  color: #36536b;
  opacity: 0.7;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
  max-width: 300px;
}
.box .info {
  text-align: center;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foot {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.foot h1 {
  color: #36536b;
  font-size: 4rem;
  font-weight: lighter;
}
.input-right {
  position: relative;
  padding: 100px;
}
.input-right input {
  border-radius: 20px;
  padding: 10px 20px;
  padding-right: 35%;
  width: 400px;
  border: none;
  font-size: large;
}
.input-right button {
  background-color: #ba4270;
  border-radius: 20px;
  padding: 15px 20px;
  position: absolute;
  right: 0;
  border: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.input-right input::placeholder {
  color: #36536b;
}
footer {
  background-color: #36536b;
}
footer .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  color: #FBFCFE;
  position: relative;

}
.footer .starting {
  display: flex;
  gap: 90px;
  justify-content: center;
  align-items: center;
}
.footer a{
    color: #FBFCFE;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.5;
}
.footer a:hover{
  
    opacity: 1;
  
}
.footer ul {
  display: flex;
  gap: 30px;
}
.footer .icons i{
    padding: 10px;
    font-size: 2rem;
}
.footer .icons i:hover{
    color: #ba4270;
}

.circle-2{
    width: 780px;
    height: 780px;
    border-radius: 50%;
    background-color: #FBFCFE;
  
    opacity: 0.1;
    position: absolute;
    right: -40%;
    top: -70%;

}